<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1><!--  nome da variavel . nome da coluna -->
        <p><%= pergunta.descricao %></p>
        <hr>
        <form id="form-resposta" action="/responder" method="POST">
            <h3>Reply</h3>
            <label for="">Answer:</label>
            <textarea placeholder="Enter your answer" class="form-control" name="corpo" id="">
            
            </textarea>
            <br>
            <input type="hidden" name="pergunta" value= '<%= pergunta.id %>'>
            <button type="submit" class="btn btn-info">Respond</button>
        </form>  
        <hr>
        <h3>Answers</h3>
        <hr>

        <% if (respostas.length == 0) { %>
            <div class="alert alert-info">
                There are no answers to this question yet.
            </div>
        <% } %>

        <% respostas.forEach(resposta => { %>
            <div class="card resposta">
                <p class="data"><%= resposta.createdAt %></p>
                <p class="nome">my user</p>
                <div class="card-body">
                    <p><%= resposta.corpo %></p>
                </div>
            </div>
            <br>
        <% }) %>
    </div>
    

</body>
<%- include ('partials/footer.ejs') %>