<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1><!--  nome da variavel . nome da coluna -->
        <p><%= pergunta.descricao %></p>
        <hr>
        <form action="">
            <h3>Responda</h3>
            <label for="">Resposta:</label>
            <textarea placeholder="Digite sua resposta" class="form-control" name="corpo" id="">
            
            </textarea>
            <br>
            <button type="submit" class="btn btn-info">Responder</button>
        </form>  
    </div>
    

</body>
<%- include ('partials/footer.ejs') %>