<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1><!--  nome da variavel . nome da coluna -->
        <p><%= pergunta.descricao %></p>
        <hr>
    </div>
    

</body>
<%- include ('partials/footer.ejs') %>